<h1>Create a new task</h1><br>
<%= form_for @task do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :description %><br>
  <%= f.text_area :description %><br>

  <%= f.label :time %><br>
  <%= f.text_area :time %><br>

  <%= fields_for @student %>

<% end %>
